.playlist-total-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-top: 30px;
}

.playlist-image-container {
  max-width: 400px;
  height: fit-content;
  margin-left: 50px;
  margin-right: 50px;
}

.image-and-buttons {
  display: flex;
  flex-direction: column;
  align-items: center
}

.user-playlist-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.playlist-container-image {
  max-width: 100%;
  border-radius: 7px;
}

.playlist-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  margin-left: 200px;
  margin-top: 10px;
}

.playlist-details {
  font-family: 'myFont',Helvetica,Arial,sans-serif;
  max-width: 350px;
}

.playlist-container-title {
  font-size: 24px;
  margin-top: -4px;
}

.playlist-container-username-container {
  font-size: 14px;
  margin-top: -34px;
  display: flex;
}

.playlist-container-username-by {
  margin-right: 2px;
}

.playlist-container-username-name {
  color: #A2C640;
}

.edit-playlist-button,
.delete-playlist-button {
  width: 207px;
  height: 30px;
  margin-top: 10px;
  background-color: #40A2C6;
  opacity: .8;
  font-family: 'myFont',Helvetica,Arial,sans-serif;
  border: 1px solid black;
  color: white;
}

.likes-container {
  display: flex;
}

.likes-count {
  font-family: 'myFont',Helvetica,Arial,sans-serif;
  margin-left: 10px
}

.like-button {
  background-color: transparent;
  height: 30px;
}

.liked-button {
  background-color: red;
  height: 30px;
}
