.search-books-total-container {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
}

.header {
  font-family: 'myFont',Helvetica,Arial,sans-serif;
  font-weight: 100;
  margin-bottom: -10px;
}

.ind-search-book-author {
  margin-top: -5px;
}

.ind-search-book-image-container {
  max-width: 200px;
}

.ind-search-book-image {
  max-width: 100%;
  border-radius: 7px;
}

.search-books-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ind-search-book-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  margin: 10px;
  width: 150px;
}

.ind-search-book-title {
  font-family: 'myFont',Helvetica,Arial,sans-serif;
  text-decoration: none;
  color: #A2C640;
}
