.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: center;
  width: 400px;
  padding-left: 60px;
  padding-right: 100px;
  align-content: flex-end;
  border-top: 2px dotted gray;
  font-size: 13px;
}

.login-input-label-field {
  margin: 10px;
}

.login-input {
  width: 200px;
  margin-left: 20px;
  height: 20px;
}

.login-submit {
  margin-right: 10px;
  width: 207px;
  height: 30px;
  margin-top: 10px;
  background-color: #40A2C6;
  opacity: .8;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 1px solid black;
  color: white;
}

button:focus {outline:0;}

.demo-container {
  display: flex;
  margin-top: 40px;
  font-size: 11px;
}

.demo-button {
  background: transparent;
  border: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #5FC1D8;
  padding-top: 2px;
  font-size: 11px;
}
