.playlists-total-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 30px;
}

.ind-playlist-image-container {
  max-width: 200px;
}

.ind-playlist-image {
  max-width: 100%;
  border-radius: 7px;
}

.playlists-container {
  padding-left: 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ind-playlist-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid #40A1C3;
  border-radius: 7px;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  margin: 10px;
  max-height: 200px;
}

.ind-playlist-title {
  font-family: 'myFont',Helvetica,Arial,sans-serif;
  text-decoration: none;
  color: #A2C640;
}
