/* @font-face {
  font-family: 'myFont';
  src:  url('../Fonts/FreeSans.svg#svgFontName') format('svg');
  src:  url('../Fonts/FreeSans.eot'),
        url('../Fonts/FreeSans.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/FreeSans.woff') format('woff'),
        url('../Fonts/FreeSans.ttf') format('truetype');} */

@font-face {
  font-family: 'myFont';
  src:  url('../Fonts/PragmaticaMedium.svg#svgFontName') format('svg');
  src:  url('../Fonts/PragmaticaMedium.eot'),
        url('../Fonts/PragmaticaMedium.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/PragmaticaMedium.woff') format('woff'),
        url('../Fonts/PragmaticaMedium.ttf') format('truetype');}

.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'myFont',Helvetica,Arial,sans-serif;
  border-bottom: solid 1px black;
  padding: 5px;
  margin-bottom: 15px;
}

.website-name-icon {
  margin-left: 100px;
}

#book-icon {
  height: 30px;;
}

#website-name {
  font-size: 30px;
  text-decoration: none;
  color: #40A1C3;
}

.not-logged-nav {
  display: flex;
  flex-direction: row;
}

.top-link {
  margin: 0 10px 0 10px;
  text-decoration: none;
  color: black
}

.user-dropdown {
  margin-right: 100px;
  display: flex;
}

.profile-dropdown {
  font-family: 'myFont',Helvetica,Arial,sans-serif;
  font-size: 12px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: flex-start;
  margin-left: 10px;
}

.user-button {
  background-color: #A2C640;
  opacity: .95;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border: solid 3px black ;
  border-radius: 10px;
}

button:focus {outline:0;}

#logout-button {
  font-family: 'myFont',Helvetica,Arial,sans-serif;
  margin-top: -10px;
  width: 70px;
  font-size: 11px;
  border: solid 1px black;
  background-color: #F1887F;
  opacity: .8;
  margin-bottom: 5px;
  color: white;
}
